@import 'https://fonts.googleapis.com/css?family=Raleway';


body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: inline-block;
  margin: 251px 0px 11px;
  padding: 9px 13px;
  background-color: rgba(0, 0, 0, 0.49);
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  display: inline-block;
  margin: 254px 0px 10px;
  padding: 9px 13px;
  background-color: rgba(0, 0, 0, 0.49);
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
  border-width: 1px;
  border-color: black;
  box-shadow: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: none;
}
h5 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
  text-transform: none;
}

a {
text-decoration: none;
}

.button {
  display: block;
  width: 20%;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  background-image: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #008cff;
}
.section {
  padding-top: 43px;
  padding-bottom: 43px;
  background-color: #383838;
}
.section.header {
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  padding:48px 0;
  background-color: #383838;
}
.section.grey {
  background-color: #f2f2f2;
}
.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 14px;
  border-radius: 5px;
  -webkit-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  background-color: #f1c40f;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link.sign-up {
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-link.sign-up:hover {
  background-color: #0076d6;
}
.company-title {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.nav-bar {
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}
.hero-bg {
  width: auto;
  height: 500px;
  padding-top: 33px;
  padding-bottom: 33px;
  background-image: url('../images/Background01.png');
}
.subtitle {
  margin-top: 12px;
  margin-bottom: 48px;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.56);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-description {
  font-size: 14px;
}
.snippet {
  display: block;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: black;
  text-decoration: none;
}
.right-col {
  padding-top: 13px;
  text-align: right;
}
.more-link {
  padding: 6px 8px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #9c9c9c;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.more-link:hover {
  border: 1px solid #008cff;
  background-color: #008cff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
}
.snippet-text-section {
  padding: 10px 12px;
}
.snippet-title {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 700;
}
.snippet-text {
  color: #737373;
  font-size: 14px;
  line-height: 19px;
}
.snippet-row {
  margin-top: 27px;
  margin-bottom: 27px;
}
.button-column {
  padding-top: 32px;
  text-align: center;
}
.company-column {
  margin-top: 12px;
  padding-right: 0px;
  padding-left: 0px;
}
.img-example {
  margin-bottom: 34px;
}
.footer-link {
  margin-right: 9px;
  margin-left: 9px;
  color: #008cff;
  font-size: 14px;
  text-decoration: none;
}
.footer-nav-bar {
  text-align: right;
}
.footer-text {
  font-family: 'Raleway', sans-serif;
  color: #b8b8b8;
  font-size: 14px;
  text-transform: uppercase;
}
.content-bg {
  height: 420px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: whitesmoke;
}
.content-bg.two {
  background-image: url('../images/example-bg.png');
}
.example-image {
  width: 100%;
}
.nav-link {
  border-radius: 0px;
  background-color: transparent;
  text-transform: uppercase;
}
.text-top {
  display: block;
  width: 70%;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.text-top.bottom {
  margin-top: 48px;
  font-size: 32px;
}
.subtext-top {
  margin-top: 16px;
  padding-top: 0px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 17px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.container-top {
  height: 400px;
  padding-top: 48px;
}
.button-contact {
  display: block;
  width: 25%;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px;
  background-color: #2c3e50;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
.button-contact:hover {
  background-color: #34495e;
}
.top-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.label-form {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-family: proxima-nova, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
}
.field-form {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-family: proxima-nova, sans-serif;
  color: black;
  font-size: 16px;
  letter-spacing: 2px;
}
.background-contact {
  height: 620px;
  background-image: url('../images/Background01.png'), url('../images/example-bg.png');
  background-size: auto, 125px;
}
.brand {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
.about-paragraph {
  font-family: 'Raleway', sans-serif;
  color: #323a45;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: none;
}
.icon1 {
  background-image: url('../images/example-bg.png'), url('../images/icon1.png');
  background-size: auto, auto;
}
.icon-right {
  float: right;
}
.center-about {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.row-center {
  display: block;
  width: 100%;
  margin-top: 36px;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.container-about {
  display: block;
  margin-top: 36px;
  margin-right: auto;
  margin-left: auto;
}
.why {
  font-family: 'Raleway', sans-serif;
  color: #2c3e50;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-portfolio {
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 0px;
}
.portfolio-columns {
  display: block;
  width: 50%;
  margin-top: 36px;
  margin-right: auto;
  margin-left: auto;
}
.title-portfolio {
  margin-top: 24px;
  direction: ltr;
  font-family: 'Raleway', sans-serif;
  color: #2c3e50;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}
.parallax {
  height: 500px;
  background-image: url('../images/macbook.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.row-portfolio {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}
.image-portfolio {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.image-portfolio:hover {
  background-color: white;
  opacity: 0.59;
}
.portfolio-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.portfolio-2:hover {
  opacity: 0.6;
}
.link-portfolio {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.title-portfolio-column-2 {
  margin-top: 24px;
  font-family: 'Raleway', sans-serif;
  color: #2c3e50;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonials-section {
  height: 420px;
  background-color: whitesmoke;
}
.row-testimonials {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.testimonials {
  margin-bottom: 9px;
}
.center-testimonials {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.section-brands {
  height: 105px;
}
.brands {
  display: block;
  width: 100%;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
}
.parallax-container {
  display: block;
  width: 60%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}
.container-bottom {
  margin-bottom: 0px;
  padding-top: 140px;
}
.logo-brands {
  height: 90px;
  background-color: white;
}
.container-brands {
  margin-top: 16px;
}
.brand-logo {
  width: 192px;
  float: left;
}
.container-brands-percentage {
  display: block;
  width: 82%;
  margin-right: auto;
  margin-left: auto;
}
.content-testimonials {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: whitesmoke;
}
.title-portfolio-row-3 {
  font-family: 'Raleway', sans-serif;
  color: #2c3e50;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  p {
    font-size: 12px;
  }
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    height: 500px;
  }
  .subtitle {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .snippet {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .text-top {
    font-size: 26px;
  }
  .text-top.bottom {
    font-size: 25px;
  }
  .subtext-top {
    margin-top: 16px;
  }
  .button-contact {
    font-size: 16px;
  }
  .logo-brands {
    height: 300px;
  }
  .brand-logo {
    float: none;
  }
  .container-brands-percentage {
    width: 26%;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-top: 173px;
  }
  h2 {
    margin-top: 107px;
  }
  .button {
    margin-bottom: 33px;
    padding: 29px 30px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 16px;
    font-weight: 700;
  }
  .section.header {
    background-color: #333;
  }
  .nav-link {
    background-color: #6b6b6b;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link:hover {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .company-title {
    margin-bottom: 33px;
  }
  .nav-bar {
    margin-top: 12px;
    text-align: center;
  }
  .hero-bg {
    height: 500px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .snippet {
    margin-bottom: 19px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .right-col {
    margin-top: -42px;
  }
  .button-column {
    padding-top: 61px;
  }
  .company-column {
    text-align: center;
  }
  .footer-nav-bar {
    text-align: center;
  }
  .left-footer-col {
    margin-bottom: 13px;
    text-align: center;
  }
  .footer-text {
    text-align: center;
  }
  .content-bg {
    height: 650px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .text-top {
    font-size: 22px;
    line-height: 24px;
  }
  .button-contact {
    font-size: 12px;
  }
  .about-paragraph {
    text-align: center;
  }
  .icon-images {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .icon-right {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .container-about {
    margin-top: 0px;
  }
  .container-brands-percentage {
    width: 35%;
  }
}
@media (max-width: 479px) {
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .section.header {
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
  .nav-link {
    display: block;
    margin-bottom: 19px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-bar {
    margin-top: 12px;
  }
  .hero-bg {
    height: 500px;
  }
  .section-description {
    width: 50%;
  }
  .snippet {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .company-column {
    margin-top: 12px;
  }
  .footer-text {
    margin-right: 0px;
    padding-right: 0px;
    font-size: 12px;
    text-align: center;
  }
  .content-bg {
    height: 650px;
    min-height: 330px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .text-top {
    font-size: 21px;
    line-height: 24px;
  }
  .button-contact {
    width: 50%;
  }
  .icon-right {
    float: none;
  }
  .container-about {
    margin-top: 0px;
  }
  .why {
    font-size: 18px;
    line-height: 30px;
  }
  .container-brands-percentage {
    width: 55%;
    margin-bottom: 0px;
    float: none;
    text-align: left;
  }
}
