/* Fonts */

@font-face {
font-family:myFont;
src: url(../font/Brandon_light.otf);
}

@font-face {
font-family:myFontBold;
src: url(../font/brandon_bld.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body {
font-family:myFont;
background: #02002B;
}

a:link, a:visited, a:hover, a:active {
text-decoration:none;
color:#fff;
}

p {
font-size: 1rem;
font-family: 'Roboto Mono', monospace;
}

::selection {
    color: #02002B;
    background: #2AFFD6;
}

p.content {
text-align: center;
font-family:myFont;
text-transform: uppercase;
font-size: 1.3rem;
letter-spacing: .5rem;
line-height: 1rem;
color: #fff;
}

p.triangle {
float: left;
font-family:myFont;
text-transform: uppercase;
font-size: 2.5rem;
line-height: 5rem;
color: #fff;
}

p.project {
padding: 1rem;
float: left;
color: #fff;
font-size: 2rem;
font-family: 'Roboto Mono', monospace;
}

.video-container {
margin-top: 8em;
width: 100%;
text-align: center;
}

.embed-container {
  position: relative;
  padding-bottom: 36.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.full-container {
float: left;
width: 20em;
}

.portfolio-box {
background: #2AFFD6;
}

.the-icon-project {
width: 20em;
height: 15em;
}

.the-icon1 {
background-image:url(../images/box1.svg);
background-size: cover;
background-size: 90%;
background-position: center;
background-repeat: no-repeat;
}

.the-icon2 {
background-image:url(../images/box2.svg);
background-size: cover;
background-size: 90%;
background-position: center;
background-repeat: no-repeat;
}

.the-icon3 {
background-image:url(../images/box3.svg);
background-size: cover;
background-size: 90%;
background-position: center;
background-repeat: no-repeat;
}

.the-icon4 {
background-image:url(../images/box4.svg);
background-size: cover;
background-size: 90%;
background-position: center;
background-repeat: no-repeat;
}

.the-icon5 {
background-image:url(../images/box5.svg);
background-size: cover;
background-size: 90%;
background-position: center;
background-repeat: no-repeat;
}

.the-icon6 {
background-image:url(../images/box6.svg);
background-size: cover;
background-size: 90%;
background-position: center;
background-repeat: no-repeat;
}

.the-icon7 {
background-image:url(../images/box7.svg);
background-size: cover;
background-size: 90%;
background-position: center;
background-repeat: no-repeat;
}

.the-icon8 {
background-image:url(../images/box8.svg);
background-size: cover;
background-size: 90%;
background-position: center;
background-repeat: no-repeat;
}

button.the-link {
text-align: center;
font-family:myFontBold;
font-size: .75em;
float: left;
border:none;
border: 2px solid #2AFFD6;
background:transparent;
margin-top: 1em;
border-radius: .2em;
padding: .5em .75em;
color:#2AFFD6;
letter-spacing: .2em;
text-transform: uppercase;
}

button.the-link:hover {
transition: 1s;
border: 2px solid #2AFFD6;
background: #2AFFD6;
color:#02002B;
}

span.bold {
font-family:myFontBold;
}

span.title {
font-family:myFontBold;
text-align: left;
color:#fff;
font-size: 2rem;
letter-spacing: .8rem;
}

span.subtitle {
margin-left: .75rem;
font-family:myFont;
text-align: left;
color:#fff;
font-size: 2rem;
letter-spacing: .8rem;
}

h1 {
font-family:myFontBold;
text-align: center;
color:#fff;
font-size: 2.25rem;
letter-spacing: .8rem;
line-height: 10px;
}

h2 {
font-family:myFont;
text-align: center;
color:#fff;
font-size: 1.5rem;
letter-spacing: .6rem;
line-height: 1px;
}

.space-bottom {
margin-bottom: 3.5em;
}

i.fa.fa-envelope-o {
color:#212121 !important;
}

li.email-me {
position: relative;
top:-8px;
}

/* CONTENT */

.flex-container {
display: flex;
flex-wrap: wrap;
}

#section-one{
width: 100%;
height: auto;
/* padding: 4em 0 0 0; */
overflow: hidden;
background: #02002B;
}

.the-icon {
margin:3em auto;
text-align: center;
}

i.font-material, .material-icons {
color:#2AFFD6;
}

#portfolio{
width: 100%;
height: auto;
padding: 3em 0;
overflow: hidden;
background: #02002B;
}

img.lb-image {
width: auto !important;
height:auto !important;
zoom:100%;
}

/* Styling Portfolio */

.company {
color: #fff;
font-family:myFont;
font-size: 1.5em;
text-align: center;
}

.location {
color: #fff;
font-family:myFont;
font-size: 1em;
text-align: center;
}

.square {
width: 100%;
color: #fff;
padding: 20px 2em 10em 2em;
}

.square2 {
width: 100%;
padding: 20px 2em 10em 2em;
}

.square3 {
width: 100%;
color: #fff;
padding: 20px 2em 10em 2em;
}

.square4 {
width: 100%;
padding: 20px 2em 10em 2em;
}

.square:hover, .square2:hover,
.square3:hover, .square4:hover {
opacity: .8;
transition: 1s;
}

.box01 {
background-image: url(../images/box01.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.box1 {
background-image: url(../images/box1.svg);
background-size: contain;
background-position: center;
background-color:#FF2D55;
}

.box2 {
background-image: url(../images/box2.svg);
background-size: contain;
background-position: center;
}

.box3 {
background-image: url(../images/box3.svg);
background-size: contain;
background-position: center;
}

.box4 {
background-image: url(../images/box4.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.box5 {
background-image: url(../images/box5.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.box6 {
background-image: url(../images/box6.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.box7 {
background-image: url(../images/box7.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.box8 {
background-image: url(../images/box8.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.box9 {
background-image: url(../images/box9.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.box10 {
background-image: url(../images/box10.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.box12 {
background-image: url(../images/box12.svg);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.section-grey {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding:3em 0;
  /* background-color: #f2f2f2; */
}

.center-testimonials {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius:50%;
  width:120px;
}

p.centered {
margin-top:24px;
text-align: left;
font-size: 1em;
color:#fff;
}

p.centered-bold {
font-weight: 700;
text-align: left;
font-size: 1.2em;
color:#2AFFD6;
}

.section-grey-dark {
  width: 100%;
  height: auto;
  padding:48px 0;
  overflow: hidden;
  background: #02002B;
}

.footer-text {
  font-family:myFont;
  color: #fff;
  font-size: .75em;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}


/* BOOTSTRAP THEME */

.row {
margin:1em 0;
}

.wrapper {
text-align: center;
}

.wrapped {
display: inline-block;
}

.quarter {
float: left;
width: 25%;
}

.half {
float: left;
width: 45%;
margin-left: 2.5%;
}

.navbar-default {
background: #02002B;
padding-top: 2em;
border:0;
border-radius: 0;
}

.navbar {
margin-bottom: 0;
margin-left: -15px !important;
}

.navbar-brand {

}

.navbar-header {
margin-bottom: 1em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-brand:active {
color:#2AFFD6;
font-family:myFont;
font-size: 3rem;
}

.navbar-default .navbar-brand:hover {
color:#eee;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active
.navbar-default .navbar-toggle:focus  {
border:0;
background: transparent !important;
}

.navbar-default .navbar-nav>li>a {
border-bottom: 3px solid #2AFFD6;
font-size: 16px;
color:#fff;
}

.navbar-default .navbar-nav>li>a:hover {
color:#999;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #2AFFD6 !important;
}

.theContact {
position: fixed;
top:15px;
right: 15px;
width: 60px;
height: 60px;
padding: 10px;
padding-left: 12px;
background: #02002B;
border-radius: 50%;
border:4px solid #2AFFD6;
z-index:999;
}

.theContact:hover {

}

i.material-icons.envelop {
color:#2AFFD6;
font-size:30px !important;
transform: rotate(-45deg);
transition: 1s;
}

i.material-icons.envelop:hover {
transform: rotate(0deg);
transition: 1s;
}

/* MOBILE */

@media (max-width:960px) {

  .navbar {
  margin-bottom: 0;
  margin-left:0 !important;
  }

  button.export-button {
  margin:0 20%;
  width: 60%;
  padding: 2% 0;
  background: rgb(151, 151, 216);
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  }

  #section-one{
  width: 90%;
  padding: 2em 0;
  margin:0 auto;
  }

  .quarter {
  float: left;
  width: 100%;
  }

  .half {
  float: left;
  width: 100%;
  margin-left:0;
  }


}

@media (max-width:480px) {

  .embed-container {
    padding-bottom: 56.25%;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
  }

}

i.font-material, .material-icons {
font-size: 6em !important;
}

.lb-outerContainer {
border: none;
}

.box1 {
background-color:transparent!important;
}

.box1, .box2, .box3 {
background-repeat: no-repeat;
}
