body {
font-family: 'Raleway', sans-serif;
}

a:link, a:visited, a:hover, a:active {
text-decoration:none;
color:#fff;
}

p {
font-size: 1rem;
}

h1 {
text-align: center;
color:#fff;
font-size: 3rem;
}

h2 {
text-align: center;
color:#fff;
font-size: 2rem;
}

i.fa.fa-envelope-o {
color:#fff !important;
}

li.email-me {
position: relative;
top:-8px;
}

/* CONTENT */

#section-one{
width: 100%;
height: auto;
padding: 12em 0;
overflow: hidden;
background: #4ECDC4;
}

.the-icon {
margin:0 auto;
text-align: center;
}

#portfolio{
width: 100%;
height: auto;
padding: 3em 0;
overflow: hidden;
background: rgb(45, 49, 57);
}

/* Styling Portfolio */

.company {
color: #fff;
font-family: 'Raleway', sans-serif;
font-size: 1.5em;
text-align: center;
}

.location {
color: #fff;
font-family: 'Raleway', sans-serif;
font-size: .75em;
text-align: center;
}

.square {
margin:5%;
width: 90%;
color: #fff;
padding: 5em 0;
border: 4px solid #4ECDC4;
}

.square2 {
margin:5%;
width: 90%;
padding: 5em 0;
border: 4px solid #4ECDC4;
}

.square3 {
margin:5%;
width: 90%;
color: #fff;
padding: 5em 0;
border: 4px solid #4ECDC4;
}

.square4 {
margin:5%;
width: 90%;
padding: 5em 0;
border: 4px solid #4ECDC4;
}

.square:hover, .square2:hover,
.square3:hover, .square4:hover {
background: #4ECDC4;
}

.section-grey {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding:3em 0;
  background-color: #f2f2f2;
}

.center-testimonials {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius:50%;
  width:120px;
}

p.centered {
margin-top:24px;
text-align: center;
font-size: 1em;
}

p.centered-bold {
font-weight: 700;
text-align: center;
font-size: 1em;
}

.section-grey-dark {
  width: 100%;
  height: auto;
  padding:48px 0;
  overflow: hidden;
  background: rgb(45, 49, 57);
}

.footer-text {
  font-family: 'Raleway', sans-serif;
  color: #b8b8b8;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}


/* BOOTSTRAP THEME */

.row {
margin:1em 0;
}

.navbar-default {
background: rgb(45, 49, 57);
padding-top: 2em;
border:0;
border-radius: 0;
}

.navbar {
margin-bottom: 0;
}

.navbar-header {
margin-bottom: 1em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-brand:active {
font-weight: bold;
color:rgb(252, 252, 252);
font-size: 3rem;
letter-spacing: .2rem;
}

.navbar-default .navbar-brand:hover {
color:#eee;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active
.navbar-default .navbar-toggle:focus  {
border:0;
background: transparent !important;
}

.navbar-default .navbar-nav>li>a
.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:active {
border:0;
background: transparent;
color:rgb(252, 252, 252);
}

.navbar-default .navbar-nav>li>a:hover {
color:#34b3a0;
}

.col-md-3 {
padding-left: 0;
padding-right: 0;
}

/* MOBILE */

@media (max-width:768px) {

  button.export-button {
  margin:0 20%;
  width: 60%;
  padding: 2% 0;
  background: rgb(151, 151, 216);
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  }


}
