@font-face {
font-family:myFont;
src: url(../font/CircularStd-Bold.otf);
}

@font-face {
font-family:Circular-Book;
src: url(../font/CircularStd-Book.otf);
}

body {
font-family:myFont;
background: #111622;
}

a:link, a:visited, a:hover, a:active {
text-decoration:none;
color:#fff;
}

p {
font-family:Circular-Book;
font-size: 1rem;
}

h1 {
text-align: center;
color:#fff;
font-size: 4rem;
}

h2 {
font-family:Circular-Book;
text-align: center;
color:#fff;
font-size: 2rem;
}

.space-bottom {
margin-bottom: 3.5em;
}

i.fa.fa-envelope-o {
color:#111622 !important;
}

li.email-me {
position: relative;
top:-8px;
}

/* CONTENT */

#section-one{
width: 100%;
height: auto;
/* padding: 4em 0 0 0; */
overflow: hidden;
background: #111622;
}

.the-icon {
margin:0 auto;
text-align: center;
}

i.font-material, .material-icons {
color:#8F8FFE;
}

#portfolio{
width: 100%;
height: auto;
padding: 3em 0;
overflow: hidden;
background: #111622;
}

img.lb-image {
width: 768px !important;
height: 1500px !important;
}

/* Styling Portfolio */

.company {
color: #fff;
font-family:myFont;
font-size: 1.5em;
text-align: center;
}

.location {
color: #fff;
font-family:myFont;
font-size: 1em;
text-align: center;
}

.square {
margin:5%;
width: 90%;
color: #fff;
padding: 5em 0;
border: 2px solid #fff;
}

.square2 {
margin:5%;
width: 90%;
padding: 5em 0;
border: 2px solid #fff;
}

.square3 {
margin:5%;
width: 90%;
color: #fff;
padding: 5em 0;
border: 2px solid #fff;
}

.square4 {
margin:5%;
width: 90%;
padding: 5em 0;
border: 2px solid #fff;
}

.square:hover, .square2:hover,
.square3:hover, .square4:hover {
background:rgba(255,255,255,0.2);
transition: 1s;
}

.section-grey {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding:3em 0;
  /* background-color: #f2f2f2; */
}

.center-testimonials {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius:50%;
  width:120px;
}

p.centered {
margin-top:24px;
text-align: center;
font-size: 1em;
color:#fff;
}

p.centered-bold {
font-weight: 700;
text-align: center;
font-size: 1em;
color:#8F8FFE;
}

.section-grey-dark {
  width: 100%;
  height: auto;
  padding:48px 0;
  overflow: hidden;
  background: #111622;
}

.footer-text {
  font-family:myFont;
  color: #b8b8b8;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}


/* BOOTSTRAP THEME */

.row {
margin:1em 0;
}

.wrapper {
text-align: center;
}

.quarter {
float: left;
width: 25%;
}

.half {
float: left;
width: 45%;
margin-left: 2.5%;
}

.navbar-default {
background: #111622;
padding-top: 2em;
border:0;
border-radius: 0;
}

.navbar {
margin-bottom: 0;
}

.navbar-header {
margin-bottom: 1em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-brand:active {
color:#8F8FFE;
font-family:myFont;
font-size: 3rem;
}

.navbar-default .navbar-brand:hover {
color:#eee;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active
.navbar-default .navbar-toggle:focus  {
border:0;
background: transparent !important;
}

.navbar-default .navbar-nav>li>a {
border-bottom: 3px solid #8F8FFE;
font-size: 16px;
color:#fff;
}

.navbar-default .navbar-nav>li>a:hover {
color:#999;
}

.theContact {
position: fixed;
top:15px;
right: 15px;
width: 60px;
height: 60px;
padding: 10px;
padding-left: 12px;
background: #111622;
border-radius: 50%;
border:4px solid #8F8FFE;
z-index:999;
}

.theContact:hover {

}

i.material-icons.envelop {
color:#8F8FFE;
font-size:30px !important;
transform: rotate(-45deg);
transition: 1s;
}

i.material-icons.envelop:hover {
transform: rotate(0deg);
transition: 1s;
}

/* MOBILE */

@media (max-width:960px) {

  button.export-button {
  margin:0 20%;
  width: 60%;
  padding: 2% 0;
  background: rgb(151, 151, 216);
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  }

  #section-one{
  width: 90%;
  padding: 2em 0;
  margin:0 auto;
  }

  .quarter {
  float: left;
  width: 100%;
  }

  .half {
  float: left;
  width: 100%;
  margin-left:0;
  }


}

i.font-material, .material-icons {
font-size: 6em !important;
}

/* hidden menus */
